<h2>物件一覧</h2>
<p><%= notice %></p>
<table>
  <tr>
    <th>物件名</th>
    <th>賃料</th>
    <th>住所</th>
    <th>築年数</th>
    <th>備考</th>
  </tr>
<% @rents.each do |rent| %>
  <tr>
    <td class="rent-list"><%= rent.name %></td>
    <td class="rent-list"><%= number_to_currency(rent.price) %>円</td>
    <td class="rent-list"><%= rent.address %></td>
    <td class="rent-list"><%= rent.age %>年</td>
    <td class="rent-list"><%= rent.comment %></td>
    <td><%= link_to '詳細', rent_path(rent.id) %>
    <td><%= link_to '編集', edit_rent_path(rent.id) %></td>
    <td><%= link_to '削除', rent_path(rent.id), method: :delete , data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>
</table>
<%= link_to '物件を登録する', new_rent_path %>
