<h2>物件詳細</h2>
<div class="rent_title">
<p>
  <strong>物件名:</strong>
  <%= @rent.name %><br>
  <strong>賃料:</strong>
  <%= number_to_currency(@rent.price) %>円<br>
  <strong>住所:</strong>
  <%= @rent.address %><br>
  <strong>築年数:</strong>
  <%= @rent.age %>年<br>
  <strong>備考:</strong>
  <%= @rent.comment %>
</p>
<% @rent.stations.each.with_index do |station, i| %>
<h3>最寄駅<%=  i += 1 %></h3>
<p>
<strong>路線名:</strong>
<%= station.route %><br>
<strong>駅名:</strong>
<%= station.station_name %><br>
<strong>徒歩分数:</strong>
<%= station.walk_time %>分<br>
 </p>
<% end %>
<%= link_to '編集', edit_rent_path(@rent.id) %>
<%= link_to '物件一覧', rents_path %>
